# ANALIZA PODATKOV KNJIG S PANDAS

## NALAGANJE PANDAS IN PODATKOV

In [65]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 10
%matplotlib inline

In [66]:
knjige = pd.read_csv('.\knjige.csv', index_col='id')

## UVOD
Analizirala bom 9000 knjig iz kategorije 'Najboljše knjige 21. stoletja' na spletni strani goodreads (https://www.goodreads.com/list/show/7.Best_Books_of_the_21st_Century?page=91).

Za vsako knjigo sem zajela:
- Naslov knjige
- Avtorja
- Naslov zbirke in zaporedno st. knjige v zbirki (če je knjiga del ene)
- Uvrstitev knjige
- Id knjige
- Povprečno oceno bralcev
- Št. ocen
- Oceno knjige (na katero vpliva število glasov, ocene bralcev ipd.)
- Št. glasov

In [79]:
knjige

,uvrstitev,naslov,avtor,povp_ocena,st_ocen,ocena,st_glasov,zbirka,zap_st_knjige_v_zbirki
id,,,,,,,,,
136251,1,Harry Potter and the Deathly Hallows,J.K. Rowling,4.61,3105897,403410,4078,Harry Potter,7.0
2767052,2,The Hunger Games,Suzanne Collins,4.32,7026470,300983,3072,The Hunger Games,1.0
77203,3,The Kite Runner,Khaled Hosseini,4.31,2654813,265775,2699,NaN,NaN
19063,4,The Book Thief,Markus Zusak,4.38,2062063,259185,2640,NaN,NaN
1,5,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2709360,225993,2327,Harry Potter,6.0
...,...,...,...,...,...,...,...,...,...
17706813,9095,The Return of the Omniscient Narrator: Author...,Paul Dawson,4.25,8,1,1,NaN,NaN
22928980,9095,The First Collection of Criticism by a Living ...,Jessica Hopper,4.01,1828,1,1,NaN,NaN
3688884,9095,"The Invention of Air: A Story of Science, Fait...",Steven Johnson,3.81,3040,1,1,NaN,NaN
3507618,9095,Fruitless Fall: The Collapse of the Honey Bee ...,Rowan Jacobsen,4.31,685,1,1,NaN,NaN
32940857,9095,Worlds Collide,Chris Colfer,4.54,22141,1,1,The Land of Stories,6.0

Pri tem bom poskusila odgovoriti na naslednje hipoteze:
- Ali so bolj popularne knjige del zbirk?
- Ali so vse knjige neke zbirke enako popularne?
- Ali so bolje ocenjene knjige tudi večkrat ocenjene?

## PROUČEVANJE PODATKOV

In [119]:
v_zbirki = knjige.dropna()

,uvrstitev,naslov,avtor,povp_ocena,st_ocen,ocena,st_glasov,zbirka,zap_st_knjige_v_zbirki
id,,,,,,,,,
136251,1,Harry Potter and the Deathly Hallows,J.K. Rowling,4.61,3105897,403410,4078,Harry Potter,7.0
2767052,2,The Hunger Games,Suzanne Collins,4.32,7026470,300983,3072,The Hunger Games,1.0
1,5,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2709360,225993,2327,Harry Potter,6.0
2,6,Harry Potter and the Order of the Phoenix,J.K. Rowling,4.50,2795062,205245,2132,Harry Potter,5.0
6148028,10,Catching Fire,Suzanne Collins,4.30,2826143,150101,1575,The Hunger Games,2.0
...,...,...,...,...,...,...,...,...,...
11607446,9076,The Wishing Spell,Chris Colfer,4.24,113884,3,1,The Land of Stories,1.0
28186363,9076,Apprentice in Death,J.D. Robb,4.43,21496,3,1,In Death,43.0
17722973,9088,The Enchantress Returns,Chris Colfer,4.47,48437,2,1,The Land of Stories,2.0
31384635,9088,Echoes in Death,J.D. Robb,4.42,22005,2,1,In Death,44.0
32940857,9095,Worlds Collide,Chris Colfer,4.54,22141,1,1,The Land of Stories,6.0

In [124]:
niso_v_zbirki = knjige[knjige.isna().any(axis=1)]
niso_v_zbirki

,uvrstitev,naslov,avtor,povp_ocena,st_ocen,ocena,st_glasov,zbirka,zap_st_knjige_v_zbirki
id,,,,,,,,,
77203,3,The Kite Runner,Khaled Hosseini,4.31,2654813,265775,2699,NaN,NaN
19063,4,The Book Thief,Markus Zusak,4.38,2062063,259185,2640,NaN,NaN
4667024,7,The Help,Kathryn Stockett,4.46,2357013,168410,1742,NaN,NaN
128029,8,A Thousand Splendid Suns,Khaled Hosseini,4.39,1270499,165450,1694,NaN,NaN
4214,9,Life of Pi,Yann Martel,3.92,1439770,152204,1562,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6377338,9088,A Fiery Peace in a Cold War: Bernard Schriever...,Neil Sheehan,3.83,741,2,1,NaN,NaN
17706813,9095,The Return of the Omniscient Narrator: Author...,Paul Dawson,4.25,8,1,1,NaN,NaN
22928980,9095,The First Collection of Criticism by a Living ...,Jessica Hopper,4.01,1828,1,1,NaN,NaN
3688884,9095,"The Invention of Air: A Story of Science, Fait...",Steven Johnson,3.81,3040,1,1,NaN,NaN
3507618,9095,Fruitless Fall: The Collapse of the Honey Bee ...,Rowan Jacobsen,4.31,685,1,1,NaN,NaN

## HIPOTEZE

### 1. POPULARNOST KNJIG, KI SO DEL ZBIRKE

Pogledati želim, ali so knjige, ki so del neke zbirke bolj popularne od knjig, ki niso. Poleg tega me zanima tudi, ali so vse knjige iste zbirke podobne popularne, in če število knjig v zbirki vpliva na popularnost zbirke.

### 2. VIŠINA OCENE IN ŠTEVILO OCEN

Zanima me, ali obstaja povezava med